.title  {
    margin-bottom: 13px;
}
.titleBrand{
    margin-bottom: 10px;
}
.isNew {
    padding: 15px;
}

input[type='checkbox'] {
    display: none;
}
label {
    padding-left: 20px;
}
label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    vertical-align: middle;
    margin-right: 9px;
}


input[type='checkbox']:checked +label::before {
    content: '';
    background-image: url("../../assect/Checkedbox.svg");
    background-repeat: no-repeat;

    width: 18px;
    height: 18px;
    background-color: #7993A6;
}