/*.blockCards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 24px;
}*/

/*@media only screen and (max-width: 1200px) {
    .blockCards {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
}
@media only screen and (max-width: 1023px) {
    .blockCards {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }
}
@media only screen and (max-width: 860px) {
    .blockCards {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }
}
@media only screen and (max-width: 767px) {
    .blockCards {
        grid-template-columns: minmax(0px, 1fr);
        gap: 0;
    }
}*/

.blockCard > * {
    height: 100%;
}

/*.bl {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column
}

@media only screen and (max-width: 745px) {
    .bl {
        display: grid;
        gap: 16px;
        grid-template-columns: minmax(124px, 1fr) minmax(0px, 1.6fr);
        padding-top: 20px;
        padding-bottom: 20px;

    }
}*/

/*.link {
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
    color: #1B1B1B;
}*/

/*.new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
}*/

/*@media only screen and (max-width: 767px) {
    .new {
        top: 20px;
        left: 0;
    }
}*/

/*.newT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 10px 7px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 26px;
    background: #44C377;
    color: rgb(255, 255, 255);
}*/

/*.title {
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    color: #1B1B1B;
}*/

/*.infoPriceBlock {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 12px 16px 16px;
    border-radius: 0 0 4px 4px;
    border-top: none;
}*/

/*.price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-right: 12px;
    margin-right: auto
}*/

/*.blockCard {
    position: relative;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}*/
/*@media only screen and (max-width: 745px) {
    .blockCard::after, .blockCard::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(-40px);
        display: block;
        width: calc(100% + 80px);
        height: 1px;
        background: rgb(230, 230, 230);
    }
    .blockCard {
        border: none;
        border-radius: 0;
    }
}*/

/*.image {
    max-width: 100%;
    height: auto;
}*/

.footerCard {
    display: grid;
    grid-template-columns: minmax(0px, max-content) 32px;
    gap: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-top: 18px;
}

@media only screen and (max-width: 1400px) {
    .footerCard {
        display: flex;
    }
}

@media only screen and (max-width: 1330px) {
    .footerCard {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 860px) {
    .footerCard {
        display: grid;
        grid-template-columns: minmax(0px, max-content) 32px;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 18px;
    }

    .price {
        margin-top: auto;
    }

    /*.infoPriceBlock {
        padding: 16px;
    }*/
}

.but {
    width: 106px;
    height: 40px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
}
