.blockCards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 24px;

}
@media only screen and (max-width: 1200px) {
    .blockCards {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
}
@media only screen and (max-width: 1023px) {
    .blockCards {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }
}
@media only screen and (max-width: 860px) {
    .blockCards {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }
}

.bl {
    width: 100%;

}
.link {
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #1B1B1B;
}
a:visited {
    color: #1B1B1B;
}
.new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
}
.newT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 10px 7px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 26px;
    background: #44C377;
    color: rgb(255, 255, 255);
}
.title {
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    color: #1B1B1B;
}
.infoPriceBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
}

.price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-right: 12px;
    margin-right: auto
}

.blockCard {
    position: relative;
    min-height: 382px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.image {
    max-width:100%;
    height:auto;
}
.footerCard {
    display: grid;
    grid-template-columns: minmax(0px, max-content) 32px;
    gap: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-top: 18px;
}
@media only screen and (max-width: 1400px) {
    .footerCard {
        display: flex;
    }
}
@media only screen and (max-width: 1330px) {
    .footerCard {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 860px) {
    .footerCard {
        display: grid;
    }
}
.but {
    width: 106px;
    height: 40px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1B1B1B;
}
